asgiref==3.8.1
Django==5.1.1
djangorestframework==3.15.1
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-localflavor==4.0
django-parler==2.3
django-embed-video==1.4.9
sqlparse==0.5.1
redis==5.0.4
django-redisboard==8.4.0
pymemcache==4.0.0
channels[daphne]==4.1.0
channels-redis==4.2.0
uwsgi==2.0.25.1
psycopg==3.1.18
psycopg2==2.9.10
celery==5.4.0
kombu==5.4.2
billiard==4.2.1
amqp==5.2.0
flower==2.0.1
python-decouple==3.8
requests==2.32.3
humanize==4.11.0
qrcode==8.0
fonttools==4.55.0
Pillow==10.3.0
reportlab==4.2.5
xhtml2pdf==0.2.16
weasyprint==62.0
pyphen==0.17.0
django-rosetta==0.10.0
polib==1.2.0
python-bidi==0.6.3
arabic-reshaper==3.0.0
cryptography==43.0.3
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
pytz==2024.2
tzdata==2024.2
tzlocal==5.2
setuptools==75.6.0
six==1.16.0
urllib3==2.2.3
html5lib==1.1
cssselect2==0.7.0
