{% extends 'accounts_base.html' %}

{% block title %} | Change Your Password {% endblock title %}
{% block content %} 

<form method="post">{%  csrf_token %}
<div> 
    {% if form.errors %}
    <p class ="errornote">
 Pls correct the error(s)  below. 
    </p>
    {% else %}
    <p>Pls enter your old password, for security’s sake, then enter your new password twice, for verification purpose</P>
        {% endif %}
            <div class="form-row">
                {{ form.old_password.errors }}
                <p>
                {{ form.old_password.label_tag}}{{ form.old_password}}</p>
                </p>
                {% if form.old_password.help_text %}
                <div class="help"{% if form.old_password.id_for_label %} id="{{ form.old_password.id_for_label }}_helptext"{% endif %}>{{ form.old_password.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="form-row">
                {{ form.new_password1.errors }}
                <p>
                {{ form.new_password1.label_tag}}{{ form.new_password1}}</p>
                </p>
               
            </div>

            <div class="form-row">
                {{ form.new_password2.errors }}
                <p>
                {{ form.new_password2.label_tag}}{{ form.new_password2}}</p>
                </p>
    </div>
    
<div class="submit-row">
<p><input type="submit" value="change"></p>
</div>
</form>
{% endblock content %}