{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Market{% block title %}{% endblock %}</title>
    <link href="{% static 'css/check.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% translate "My shop" %}</a>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="languages">
          <p>{% translate "Language" %}:</p>
          <ul class="languages">
            {% for language in languages %}
              <li>
                <a href="/{{ language.code }}/"
                {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                  {{ language.name_local }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div id="subheader">
        <div id="user-tools">
            {% if request.user.is_authenticated %}
            {% translate "Welcome" %} {{ request.user.first_name|default:request.user.username }},
            <a href="{% url 'accounts:logout_form' %}">Log-Out</a> |
            <a href="{% url 'accounts:password_change' %}">Change Your Password</a> |
            <a href="{% url 'accounts:edit_profile' %}">Edit Your Profile</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">Log-in</a>
            {% endif %}
        </div>
        <div class="cart">
            {% if request.user.is_authenticated %}
                {% with total_items=cart|length %}
                {% if total_items > 0 %}
               {% translate "Your cart" %}:
                <a href="{% url 'cart:cart_detail' %}">
                    {% blocktranslate  with total=get_total_price_after_discount count items=total_items %}
                        {{ items }} item, ${{ total }}
                    {% plural %}
                        {{ items }} items, ${{ total }}
                    {% endblocktranslate %}
                </a>
                {% else %}
                {% translate "Your cart is empty" %}.
                {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h4>{% translate "About Meta Market" %}</h4>
            <p>{% translate "Meta Market is your go-to platform for the best shopping experience!" %}</p>
        </div>
        <div class="footer-section links">
            <h4>{% translate "Quick Links" %}</h4>
            <ul>
                <li><a href="{% url 'shop:product_list' %}">{% translate "Home" %}</a></li>
                <li><a href="#">{% translate "About" %}</a></li>
                <li><a href=#>{% translate "Contact" %}</a></li>
                <li><a href="{% url 'cart:cart_detail' %}">{% translate "Shopping Cart" %}</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h4>{% translate "Follow Us" %}</h4>
            <div class="social-icons">
                <a href="#" class="facebook">Facebook</a>
                <a href="#" class="twitter">Twitter</a>
                <a href="#" class="instagram">Instagram</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Meta Market. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
